.List {
    padding: 2rem;
    list-style-type: none;
    z-index: 2000;
}

.SemesterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Semester-li {
    list-style-type: none;
    padding: 0.5rem;
    margin: 1rem;
    background-color: black;
}
/* SemesterCard.css */

.popup-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.popup {
    background-color: #24252a;
    padding: 20px;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    color: white;
}
.SemesterviewContainer {
    z-index: 7;
    font-family: "Times New Roman", Times, serif;
}
.semestercardContainer {
    z-index: 8;
}
.popup::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1000%;
    background: linear-gradient(#24252a, orange);
    animation: animate2 4s linear infinite;
}
.popup::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #24252a;
    border-radius: 16px;
}
@keyframes animate2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(350deg);
    }
}
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: -1; /* Push the overlay behind the popup */
}
.myCustom {
    background-color: orange;
    margin-right: 10px;
    border-color: #24252a;
}
.myCustom:hover {
    background-color: #24252a;
    border-color: orange;
}
.myCustom2 {
    background-color: orange;
    margin-right: 10px;
    border-color: #24252a;
}
.myCustom2:hover {
    background-color: #24252a;
    border-color: orange;
}
.myCustom3 {
    background-color: orange;
    margin-right: 10px;
    border-color: #24252a;
}
.myCustom3:hover {
    background-color: #24252a;
    border-color: orange;
}
.myCustom4 {
    background-color: orange;
    margin-right: 10px;
    border-color: #24252a;
}
.myCustom4:hover {
    background-color: #24252a;
    border-color: orange;
}
.Add_custom {
    background-color: orange;
    margin-bottom: 10px;
    border-color: #24252a;
}
.Add_custom:hover {
    background-color: #24252a;
    border-color: orange;
}
.backCustom {
    background-color: orange;
    border-color: #24252a;
}
.nextCustom {
    background-color: orange;
    border-color: #24252a;
}
.creditText {
    font-family: "Times New Roman", Times, serif;
    animation: animate 5s linear 1;
    z-index: 20;
    color: white;
}
@keyframes animate {
    0% {
        color: orange;
    }
    100% {
        color: white;
    }
}

.DeleteCustom {
    background-color: orange;
    margin-right: 10px;
    border-color: #24252a;
}
.DeleteCustom:hover {
    background-color: #24252a;
    border-color: orange;
}
.EditCustom {
    background-color: orange;
    margin-right: 10px;
    border-color: #24252a;
}
.EditCustom:hover {
    background-color: #24252a;
    border-color: orange;
}

.AddSemesterButton {
    background-color: orange;
    border-color: #24252a;
}
.AddSemesterButton:hover {
    background-color: #24252a;
    border-color: orange;
}
.Deleteyear {
    background-color: orange;
    border-color: #24252a;
    margin-bottom: 10px;
}
.Deleteyear:hover {
    background-color: #24252a;
    border-color: orange;
}
