.List {
    padding: 2rem;
    list-style-type: none;
}

.SemesterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Semester-li {
    list-style-type: none;
    padding: 0.5rem;
    margin: 1rem;
    background-color: black;
}
/* SemesterCard.css */

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    max-height: 80%; /* Set a max height for the popup */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #fff; /* Add your desired background color */
    padding: 20px; /* Add padding as needed */
    border: 1px solid #ccc; /* Add a border if desired */
    border-radius: 8px; /* Add border-radius for rounded corners if desired */
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: -1; /* Push the overlay behind the popup */
}
