.next {
    background-color: orange;
    border-color: #24252a;
}
.next:hover {
    background-color: #24252a;
    border-color: orange;
}
.backCourse {
    background-color: orange;
    border-color: #24252a;
}
.backCourse:hover {
    background-color: #24252a;
    border-color: orange;
}
