.semester_view_card {
    background-color: #24252a;
    border-color: orange;
    border-radius: 3rem;
    padding: 2rem;
}

.degreeName {
    color: #4fc3dc;
    margin-right: 1rem;
}
.credits {
    color: white;
    margin-right: 1rem;
}

.SemesterContainer {
    margin-top: 1rem;
}

@media only screen and (max-width: 420px) {
    h3,
    p {
        font-size: 0.8rem;
    }
}

.listCourses li {
    list-style: none;
    border: 2px dotted #4fc3dc;
    padding: 1rem;
    margin: 0.5rem;
}
